<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div>
            <a href="#" class="list-group-item clearfix" *ngFor="let item of Recipe">
                <div class="pull-right">
                    <h4 class="list-group-item-heading">{{ item.name }}</h4>
                    <p class="list-group-item-text">{{ item.description }}</p>
                </div>
                <span class="pull-left">
                    <img src='{{ item.imagePath }}' alt="" class="img-responsive" style="max-height: 50px;"/>
                </span>
            </a>
        </div>
    </div>
</div>
<app-recipes-item></app-recipes-item>